.gallery {
  width: 1280px;
  margin: 0 auto;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info {
  display: flex;
  justify-content: space-between;
}

.btn-load-more {
  padding: 7px 15px;
  display: block;
  margin: 0 auto;
}

.info-item {
  display: flex;
  flex-direction: column;
}
