.gallery {
  width: 1280px;
  margin: 0 auto;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info {
  display: flex;
  justify-content: space-between;
}

.btn-load-more {
  padding: 7px 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  background-color: #20214f;
  border-radius: 3px;
  border: none;
}

.btn-load-more:hover,
.btn-load-more:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: darkgrey;
  color: #20214f;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  margin-left: 20px;
  cursor: pointer;
  color: #20214f;
}

.btn-submit:hover,
.btn-submit:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: darkgrey;
  color: #20214f;
}
